/* scrollbar */
/* width */
.facetwp-facet::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.facetwp-facet::-webkit-scrollbar-track {
  background: var(--beige);
}

/* Handle */
.facetwp-facet::-webkit-scrollbar-thumb {
  background: var(--lightGrey);
  border-radius: 20px;
}

/* Handle on hover */
.facetwp-facet::-webkit-scrollbar-thumb:hover {
  background: var(--darkGrey);
}
/* facet filter */
.container .facet-wp-container {
  width: 23%;
  margin-bottom: 30px;
  display: block;
  background: white;
  align-self: flex-start;
  /* position: sticky;
  top: 0; */
}

.facet-label {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
}
.facet-wp-container .desktop .facetwp-facet {
  margin: 5px 0 15px 0 !important;
  height: 100%;
  overflow-y: scroll;
  max-height: 150px;
  position: relative;
}
.facet-wrap {
  border-bottom: 2px solid var(--offWhite);
  margin: 0 0 15px 0;
}

.facetwp-checkbox {
  font-family: var(--poppins);
  font-weight: 300;
  color: var(--lightGrey);
  padding-right: 10px;
  font-size: 0.9rem;
}
.facetwp-checkbox span {
  font-family: var(--poppins);
  font-weight: 300;
  color: var(--lightGrey);
  font-size: 0.9rem;
}
.facetwp-checkbox:hover {
  color: var(--darkGrey);
}
.facetwp-checkbox:hover span {
  color: var(--darkGrey);
}
/* mobile styling */
.facet-wp-container .mobile-filter-container .facet-label {
  font-size: 0.8rem;
}
.facet-wp-container .mobile-filter-container .facetwp-facet {
  margin: 5px 0 5px 0 !important;
  height: 100%;
  overflow-y: scroll;
  max-height: 150px;
  position: relative;
}
.facet-wp-container .mobile-filter-container .facet-wrap {
  border-bottom: none;
  margin: 0 0 10px 0;
}
.facet-wp-container .mobile-filter-container .facetwp-facet {
  overflow: visible;
}
.fs-option-label {
  font-family: var(--poppins);
  font-weight: 300;
  color: var(--lightGrey);
  padding-right: 10px;
  font-size: 0.9rem;
}
.facet-wp-container .mobile-filter-container .fs-label {
  font-family: var(--poppins);
  font-weight: 300;
  color: var(--lightGrey);
  padding-right: 10px;
  font-size: 0.9rem;
}
.facet-wp-container .mobile-filter-container .fs-checkbox i {
  border-radius: 0 !important;
  width: 20px !important;
  height: 20px !important;
}
.facet-wp-container .mobile-filter-container .fs-option {
  margin: 0 0 10px 0;
}
/* dropdown styling  */
.fs-dropdown {
  width: 100% !important;
}
/* price facet wp */
.facet-wp-container .noUi-connect {
  background: var(--darkGrey);
}
.facetwp-facet-price_range {
  height: 60px;
  overflow: hidden;
}

/* reset button  */
.facetwp-slider-reset {
  display: none;
}
.facet-reset-btn {
  display: block;
  width: 100%;
  background: none;
  font-size: 1rem;
  padding: 10px 0;
  text-transform: uppercase;
  color: var(--darkGrey);
  border: 1px solid var(--darkGrey);
}
.facet-reset-btn:hover {
  background: var(--darkGrey);
  color: white;
}
/* section title */
.filter-title i {
  color: white;
}
.filter-title {
  margin-bottom: 10px !important;
  border: 1px solid var(--darkGrey);
  background: var(--darkGrey);
  color: white;
  padding: 5px 5px;
}
@media (max-width: 1100px) {
  .filter-title {
    background: none;
    color: var(--darkGrey);
  }
  .filter-title i {
    color: var(--darkGrey);
  }
}
/* mobile filter button  */

.mobile .filter-title {
  text-align: center !important;
  width: 150px;
  margin: 0 auto !important;
  cursor: pointer;
  display: none;
  position: sticky;
  top: 10px;
  z-index: 1000;
  background: white;
}

.mobile .filter-title:hover {
  background: none;
  color: var(--darkGrey);
}
.mobile .filter-title:hover i {
  background: none;
  color: var(--darkGrey);
}

/* facet settings */
.facet-single-filter {
  height: 150px !important;
  overflow-y: scroll;
}
.breadcrumb-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 1110px) {
  .container .facet-wp-container {
    position: fixed;
    background: white;
    width: 100%;
    z-index: 2000;
    top: 0;
    left: 0;
    padding: 30px 10px;
    height: 100%;
    overflow: auto;
    display: none;
  }
  .container .facet-wp-container .desktop {
    display: none;
  }
  .mobile .filter-title {
    display: block;
    position: sticky !important;
    top: 0;
  }
}
@media (min-width: 1100px) {
  .container .facet-wp-container .mobile-filter-container {
    display: none;
  }
}

.fs-wrap {
  display: block;
  width: 100%;
}
.fs-label-wrap {
  width: 100% !important;
  display: block !important;
}

/* reset button */

.mobile-filter-container .show-results {
  background: var(--darkGrey);
  color: white;
}

.mobile-filter-container .close-icon {
  color: var(--darkGrey);
  position: absolute;
  top: 35px;
}
.mobile-filter-container .close-icon:hover {
  transform: translate(0, 0);
}
/* fixed filter button */

.fixed-filter-button {
  text-align: center;
  background: var(--darkGrey);
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
  z-index: 1000;
}
.fixed-filter-button .filter-title {
  margin-bottom: 0 !important;
  border: none !important;
  color: var(--offWhite);
  cursor: pointer;
}
.fixed-filter-button .filter-title i {
  color: var(--offWhite);
}

@media (min-width: 1100px) {
  .fixed-filter-button {
    display: none !important;
  }
}
