/* wishlist page layout  */
.wishlist-section {
  background: var(--offWhite);
  padding: 50px 0 100px 0;
  margin-bottom: -50px;
}
.wishlist-container {
  max-width: 1600px;
  margin: 0 auto;
  width: 95%;
  background: white;
  padding: 50px;
}

/* product card styling  */
.wishlist-container .wishlist_table {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}
.wishlist-container .wishlist_table > li {
  display: block;
  width: 23% !important;
  margin: 0 10px 40px 10px;
}
@media (max-width: 1200px) {
  .wishlist-container .wishlist_table > li {
    width: 31% !important;
  }
}
@media (max-width: 950px) {
  .wishlist-container .wishlist_table > li {
    width: 45% !important;
  }
  .wishlist-container {
    padding: 50px 15px;
  }
}
@media (max-width: 950px) {
  .wishlist-container .wishlist_table > li {
    width: 100% !important;
  }
  .wishlist-container {
    padding: 50px 15px;
  }
}
.wishlist-container .wishlist_table > li .item-wrapper {
  display: flex;
  flex-direction: column;
}
.wishlist-container .wishlist_table > li .item-wrapper .product-thumbnail {
  width: 100%;
  padding: 0 !important;
}
.wishlist_table.modern_grid.wishlist_view li .item-details {
  width: 100%;
}
.wishlist_table.modern_grid.wishlist_view li .item-details h3 {
  font-family: var(--playfairDisplay) !important;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.wishlist_table.modern_grid
  li
  .item-details
  table.item-details-table
  .product-price
  .label {
  display: none !important;
}
.wishlist_table.modern_grid li .item-details .item-details-wrapper {
  padding: 10px 0 !important;
}
.wishlist_table.modern_grid li .item-details::before {
  border: none !important;
}
.wishlist-container .button {
  background: none !important;
  color: var(--black) !important;
  border: 1px solid var(--black) !important;
}
.wishlist-container .button:hover {
  background: var(--black) !important;
  color: white !important;
  border: 1px solid var(--black) !important;
}
.wishlist-container .product-remove {
  position: absolute;
  top: -35px;
  right: 0;
  background: var(--beige);
  border-radius: 50%;
  padding: 7px 12px;
  cursor: pointer;
}
.wishlist-container .product-remove i {
  color: var(--darkGrey);
}
/* .woocommerce-wishlist  */

.wishlist-container .wishlist-title-container {
  display: none !important;
}
.wishlist-container h1::after {
  content: "";
  border-bottom: 1px solid var(--darkBeige);
  width: 100%;
  display: block;
  position: relative;
  top: 5px;
}

/* wishlist share buttons */
.wishlist-container .yith_wcwl_wishlist_footer {
  margin: 20px 0;
}

.wishlist-container .wishlist-page-links {
  display: none;
}
.wishlist-container #yith-wcwl-form {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
}
.wishlist-container .yith-wcwl-share-title {
  font-weight: 400;
  font-size: 1.2rem;
}
.wishlist-container .yith-wcwl-share {
  width: 100%;
}

.wishlist-container .yith-wcwl-share li {
  margin: 0 5px 0 0 !important;
}
.wishlist-container .yith-wcwl-after-share-section {
  margin: 20px 0;
}
.wishlist-container .yith-wcwl-after-share-section input {
  border-radius: 0 !important;
  width: 100% !important;
  max-width: 400px;
  height: 40px;
  border: 1px solid var(--lightGrey);
  padding: 0 5px;
}
.wishlist-container .copy-trigger {
  border: 1px solid var(--darkGrey);
  font-family: var(--playfairDisplay);
  padding: 7px 30px 9px 30px;
  display: inline-block;
  margin-left: -5px;
  text-transform: uppercase;
  cursor: pointer;
}
.wishlist-container .copy-trigger:hover {
  color: white;
  background: var(--black);
}

@media (max-width: 950px) {
  .wishlist-container .copy-trigger {
    margin-top: 10px;
    margin-left: 0;
  }
}

/* wishlist buttons  */

/*wishlist and design board*/
.wishlist-designer-board-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.yith-wcwl-add-to-wishlist {
  margin-top: 0 !important;
  margin-left: 5px;
}
.yith-wcwl-add-to-wishlist .single_add_to_wishlist i {
  margin-right: 0;
  font-size: 17px;
  position: absolute;
  color: var(--red);
  right: 5.5px;
}
.yith-wcwl-add-to-wishlist .single_add_to_wishlist {
  width: 30px;
  height: 30px;
  position: relative;
}
.yith-wcwl-add-to-wishlist .single_add_to_wishlist {
  border-radius: 50% !important;
  padding: 8px 5px 3px 8px !important;
}
