/* video container */
.home-page .video-container {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  margin: 0 auto;
}
.home-page .video-container a {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}
/* trending now section  */

@media (max-width: 400px) {
  .trending-section {
    margin: 50px auto !important;
  }
}
.trending-section .title-container .section-font-size {
  margin-right: 10px;
}
.trending-section .flex {
  margin: 20px 0;
}
.trending-section .flex .cards {
  width: 100%;
}
.trending-section .flex .cards img {
  width: 100%;
  height: 390px;
  object-fit: cover;
}
/* display nav */
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc !important;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000 !important;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.38) !important;
}
.owl-nav span {
  font-size: 70px;
  position: relative;
  top: -5px;
}
.owl-nav button:focus {
  outline: none;
}
/* third section  */
.third-section img {
  width: 100%;
  height: auto;
}

/* fourth section  */

.fourth-section .image-container a {
  width: 45%;
  margin: 10px 0;
}
.fourth-section .image-container img {
  width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}
@media (max-width: 870px) {
  .fourth-section .image-container a {
    width: 100%;
  }
  .fourth-section .image-container img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

/* sixth section */
.sixth-section .sixth-container {
  height: auto;
  max-width: 1500px;
}
.sixth-section .sixth-container .images-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}
.sixth-section .sixth-container .images-container .first-image {
  grid-column: 1/10;
  grid-row: 1/3;
}

.sixth-section .sixth-container .images-container .second-image {
  grid-column: 10/13;
  grid-row: 1/2;
  position: relative;
}
.sixth-section .sixth-container .images-container .third-image {
  grid-column: 10/13;
  grid-row: 2/3;
  position: relative;
}

.sixth-section .sixth-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.sixth-section .sixth-container .images-container .anchor-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 30%;
  display: none;
  line-height: 1.5em;
}
.sixth-section
  .sixth-container
  .images-container
  .small-image:hover
  .anchor-overlay {
  display: block;
}
.sixth-section .sixth-container .images-container .anchor-overlay::after {
  display: block;
  position: absolute;
  content: " ";
  border-bottom: 1px solid black;
  width: 50px;
  margin-top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
.sixth-section .sixth-container .title-container {
  margin: 10px 0 10px 0;
}
.sixth-section .sixth-container .title-container p {
  margin-left: 5px;
}
@media (max-width: 1000px) {
  .sixth-section .sixth-container .images-container {
    display: flex;
    flex-direction: column-reverse !important;
    flex-wrap: wrap;
  }
  .sixth-section .sixth-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .sixth-section .sixth-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .sixth-section .sixth-container .images-container .anchor-overlay {
    display: block;
  }
}

/*  eighths section*/
.eighth-section .eighth-container {
  height: auto;
  max-width: 1500px;
}
.eighth-section .eighth-container .images-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}
.eighth-section .eighth-container .images-container .first-image {
  grid-column: 4/13;
  grid-row: 1/3;
}

.eighth-section .eighth-container .images-container .second-image {
  grid-column: 1/4;
  grid-row: 1/2;
  position: relative;
}
.eighth-section .eighth-container .images-container .third-image {
  grid-column: 1/4;
  grid-row: 2/3;
  position: relative;
}

.eighth-section .eighth-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.eighth-section .eighth-container .images-container .anchor-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 30%;
  display: none;
  line-height: 1.5em;
}
.eighth-section
  .eighth-container
  .images-container
  .small-image:hover
  .anchor-overlay {
  display: block;
}
.eighth-section .eighth-container .images-container .anchor-overlay::after {
  display: block;
  position: absolute;
  content: " ";
  border-bottom: 1px solid black;
  width: 50px;
  margin-top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
.eighth-section .eighth-container .title-container {
  margin: 10px 0 10px 0;
}
.eighth-section .eighth-container .title-container p {
  margin-left: 5px;
}
@media (max-width: 1000px) {
  .eighth-section .eighth-container .images-container {
    display: flex;
    flex-direction: column-reverse !important;
    flex-wrap: wrap;
  }
  .eighth-section .eighth-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .eighth-section .eighth-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .eighth-section .eighth-container .images-container .anchor-overlay {
    display: block;
  }
}

/* brands card - eleventh section  */
.brand-logo-section {
  padding: 100px 0;
  margin-top: 100px;
}
.brand-logo-section .flex {
  width: 95% !important;
  margin-top: 20px;
}
.brand-logo-section .flex .brand-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.brand-logo-section .flex .brand-logo {
  width: 70% !important;
  height: 50px;
  object-fit: scale-down;
  display: block;
  margin: 20px auto 0 auto;
}
/* be inspired page */
.be-inspired-section .container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(25, 1fr);
}
.be-inspired-section .container img {
  width: 100%;
  height: auto;
}
.be-inspired-section .container .first-image-container {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-gap: 0 15px; */
  align-content: space-between;
}
.be-inspired-section .container .first-image-container img:nth-child(odd) {
  width: 100%;
  display: block;
  margin-right: 15px !important;
}
.be-inspired-section .container .first-image-container img:nth-child(even) {
  width: 100%;
  display: block;
  margin-left: 15px !important;
}
.be-inspired-section .container .content-box {
  grid-column: 13/20;
  padding: 0 20px;
  justify-content: center;
}
.be-inspired-section .container .second-image-container {
  grid-column: 20/26;
  align-content: space-between;
  grid-gap: 15px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.be-inspired-section .first-image-container img:nth-child(odd) {
  grid-column: 1/3;
}
.be-inspired-section .first-image-container img:nth-child(even) {
  grid-column: 3/5;
}
.be-inspired-section .second-image-container img:nth-child(1) {
  grid-column: 1/5;
}
.be-inspired-section .second-image-container img:nth-child(2) {
  grid-column: 1/5;
}

/* be inspired content styling */
.be-inspired-section {
  margin: 100px 0 0 0;
}
.be-inspired-section .container .content-box i {
  font-size: 40px;
  text-align: center !important;
  margin: 0 auto;
  display: block;
}
.be-inspired-section .container .content-box .step-container {
  position: relative;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  flex-wrap: wrap;
  width: auto;
  justify-content: flex-start;
}
.be-inspired-section .container .content-box .step-container > div {
  position: relative;
  margin: 0px auto 0 auto !important;
  width: auto;
  display: inline-block;
}
body {
  counter-reset: section;
}
.be-inspired-section .container .content-box .step-container > div:before {
  counter-increment: section;
  content: counter(section);
  font-family: "playfair display", serif;
  margin-right: 10px;
  font-size: 40px;
}
.be-inspired-section .container .content-box .button-container a {
  display: block;
  margin: 0 auto;
  width: 200px;
}
@media (max-width: 1000px) {
  .be-inspired-section .container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
    grid-template-columns: repeat(25, 1fr);
    background: #efeae5;
    padding: 20px 0;
  }

  .be-inspired-section .container .content-box {
    padding: 20px;
  }

  .be-inspired-section .container .second-image-container {
    display: none;
  }

  .be-inspired-section .container .first-image-container {
    grid-gap: 15px 15px;
    align-content: space-between;
    max-width: 95%;
    margin: 0 auto;
  }
  .be-inspired-section .container .first-image-container img:nth-child(odd) {
    width: 100%;
    display: block;
    margin-right: 0 !important;
  }
  .be-inspired-section .container .first-image-container img:nth-child(even) {
    width: 100%;
    display: block;
    margin-left: 0 !important;
  }
}

/*  trade section */

.trade-professional-section .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 50px);
  grid-gap: 15px;
  justify-content: center;
  align-content: center;
}
.trade-professional-section .content-box {
  padding: 50px 20px;
  grid-column: 1/8;
  grid-row: 1/6;
}
.trade-professional-section .trade-image {
  grid-column: 1/8;
  grid-row: 6/13;
}
.trade-professional-section .project-image {
  grid-column: 8/13;

  grid-row: 1/13;
}
.trade-professional-section .content-box a {
  display: block;
  margin: 10px auto;
  width: 280px;
  padding: 10px 10px !important;
}
.trade-professional-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
@media (max-width: 1000px) {
  .trade-professional-section .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .trade-professional-section .container > div {
    margin: 10px 0;
  }
}
